# Chặn các file csv nặng trong thư mục data
data/raw/*.zip
data/processed/*.json
data/processed/*.csv
data/processed/*.pkl
models/*.h5
models/*.pt

# Hoặc chặn chính xác tên file
data/raw/mitbih_train.csv
data/raw/mitbih_test.csv

# Python environment
__pycache__/
.venv/
.env